:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 253, 252);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent any potential horizontal scrollbars */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: transparent; /* Prevent body background color affecting the layout */
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;    /* Ensures full width */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  background-color: #021130;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: +1;
 }

 header a {
  text-decoration: none;
  color:white;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color:lightblue;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 5px;
  
}

main {
  width: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

footer {
  background-color: #021130;
  color: white;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* This will explicitly force no unintended padding or margin */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
